<div class="card">
  <div class="card-header color-title font-weight-bold h2 text-center color-header">
    <%=title%>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h6 class="card-title text-center">
          RESUMO DOS DADOS
        </h6>
        </div>
    </div>
    <div class="row mt-3 text-center">
      <div class="col">
        <span>PONTOS</span>
        <div class="card-text">
          <span class="h1"><%=points%></span>
        </div>
      </div>
      <div class="col">
        <span>VARIAÇÃO (DIA)</span>
        <div class="card-text">
          <span class="h1 color-icon"><%=variation%></span>
        </div>
      </div>
      <div class="col">
        <span>MÍNIMO (DIA)</span>
        <div class="card-text">
          <span class="h1"><%=day_min%></span>
        </div>
      </div>
      <div class="col">
        <span>MÁXIMO (DIA)</span>
        <div class="card-text">
          <span class="h1"><%=day_max%></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted text-center">
    <i class="fas fa-info-circle"></i>
    <span><%=update_date%></span>
  </div>
</div>