<tr>
  <td>
    <a href="/empresa/<%=item.active%>" target="_blank">
      <%=item.active%>
    </a>
  </td>
  <td><%=item.last%></td>
  <td><%=item.day_variation%></td>
  <td><%=item.min_value%></td>
  <td><%=item.max_value%></td>
  <td><%=item.date%></td>
</tr>