<!DOCTYPE html>
<html lang="pt">
  <%- include('components/head'); %>
<body>
  <%- include('components/header'); %>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6 mt-5">
        <div class="alert alert-danger text-center" role="alert">
          <h4 class="alert-heading"><%=message%></h4>
          <hr>
          <p><%=error%></p>
        </div>
      </div>
    </div>    
  </div>

  <%- include('components/footer'); %>
</body>
</html>