<!DOCTYPE html>
<html>
  <%- include('components/head'); %>
  <body>
    <%- include('components/header'); %>
  
    <div class="container-fluid">
      <div class="row section-one align-items-center justify-content-center">
        <div class="col-sm-10">
          <%- include('components/card', {title: ibovespaData.title, points:
          ibovespaData.points, variation: ibovespaData.variation, day_min:
          ibovespaData.day_min, day_max: ibovespaData.day_max, update_date:
          ibovespaData.update_date});%>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="col-sm-10">
          <h1 class="text-center">Altas da IBOVESPA</h1>
          <table class="table mt-4 text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ATIVO</th>
                <th scope="col">ÚLTIMO (R$)</th>
                <th scope="col">VAR. DIA (%)</th>
                <th scope="col">VAL. MIN (R$)</th>
                <th scope="col">VAL. MAX (R$)</th>
                <th scope="col">DATA</th>
              </tr>
            </thead>
            <tbody>
              <% ibovespaData.ibovespa_high.forEach(function(item){ %> <%-
              include('components/table_line', {item: item}); %> <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="col-sm-10">
          <h1 class="text-center mt-5">Baixas da IBOVESPA</h1>
          <table class="table mt-4 text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ATIVO</th>
                <th scope="col">ÚLTIMO (R$)</th>
                <th scope="col">VAR. DIA (%)</th>
                <th scope="col">VAL. MIN (R$)</th>
                <th scope="col">VAL. MAX (R$)</th>
                <th scope="col">DATA</th>
              </tr>
            </thead>
            <tbody>
              <% ibovespaData.ibovespa_low.forEach(function(item){ %> <%-
              include('components/table_line', {item: item}); %> <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <%- include('components/footer'); %>
  </body>
</html>
